
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-image:url(images/back1.jpg);
	margin: 0;
	padding: 0;
	color: #000;
	
}

/* ~~ Element/tag selectors ~~ */

h1, h2, h3, h4, h5, h6{
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
 p {
	
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
a{
cursor: pointer;
text-decoration:none;
}

a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color:#FFF;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #FFF;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container {
	position:relative;
	top:5px;
	width: 80%;
	max-width: 1260px;/* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
	min-width: 780px;/* a min-width may be desirable to keep this layout from getting too narrow. This keeps line length more readable in the side columns. IE6 does not respect this declaration. */
	background: #FFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout. It is not needed if you set the .container's width to 100%. */
}

/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
.header {
	/*background: #2f66c1;*/
	background-image:url(images/img1.png);
	size:landscape;
	height:128px;
	background-size:1030px 130px;
}

table{
	column-width:100px;

}
/* sidebar1 is the right side bar*/
.sidebar1 {
	float: right;
	width: 16%;
	background: #696969;
	border:1px;
	border-color:#696969;
	position:relative;
	font-size:14px;
	resize:horizontal;
	height:480px;
		
}
.sidebar1 table{
	background-image:url(images/top.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;	
}
/* sidebar2 is the left side bar*/
.sidebar2 {
	float: left;
	width: 16%;
	background: #FFF;
	border-color:#FFF;
	position:relative;
	color:white;
}
.sidebarimg1{
	max-height:300px;
	position:relative;
	background-image:url(images/blue_note.png);
	background-size: 150px 150px;
	background-repeat:no-repeat;
	right:40px;
	
}
.sidebarimg2{
	max-height:300px;
	text-align:center;
	position:relative;
	background-image:url(images/yellow_note.png);
	background-size: 150px 150px;
	background-repeat:no-repeat;
	right:35px;
	bottom:40px;
}
.sidebarimg3{
	max-height:300px;
	text-align:center;
	position:relative;
	background-image:url(images/green_note.png);
	background-size: 150px 150px;
	background-repeat:no-repeat;
	right:30px;
	bottom:80px;
}
.content {
	padding: 50px 0;
	width: 66%;
	float: right;
	position:relative;
	max-height:400px;
	
		
}
/* top is the main menu button css */
.top{
	position:relative;
	top:-20px;
	right:15px;
	width:20%;
	height:200%;
}
/* not in use yet - can be used to put profile icon on the top left*/
.topl{
	position:relative;
	right: 160px;
	bottom:182px;
	max-width:925px;
}
/* next is for the left answer icon */
.next{
	position:relative;
	right:576px;
	bottom:20px;
}
/* next is for the right last question icon */
.back{
	position:absolute;
	top:-100px;
	left:-590px;
}

.inc iframe{
	position:relative;
	width:600px;
	height:450px; 
	right:10px;
	top:-30px;
	
}


/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
ul.nav {
	list-style: none; /* this removes the list marker */
	border-top: 1px solid #666; /* this creates the top border for the links - all others are placed using a bottom border on the LI */
	margin-bottom: 15px; /* this creates the space between the navigation on the content below */
}
ul.nav li {
	border-bottom: 1px solid #3776dd;
	font-size:14px; 
	/* this creates the button separation */
}
ul.nav a, ul.nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 5px 5px 5px 15px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	text-decoration: none;
	background: #696969;
	color: #FFF;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	background: #3776dd;
	color: #FFF;
}

/* ~~ The footer ~~ */
.footer {
	padding: 10px 0;
	/*background: #2f66c1;*/
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
	background-image:url(images/footer.jpg);
	background-size:cover;
	direction:rtl;
	color:#FFF;
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.content { margin-right: -1px; } /* this 1px negative margin can be placed on any of the columns in this layout with the same corrective effect. */
ul.nav a { zoom: 1; }  /* the zoom property gives IE the hasLayout trigger it needs to correct extra whiltespace between the links */

/* all the content you see down is for the javascript popup - not in use yet*/
.clock table{
	
}

#rank { width: 100px; height:20px; background-color: #FF0000; border: 1px solid #000000; }
#percent { background-color: #00FF00; color:#000000; height:18px; padding-top:2px; text-align:right; }